<% content_for :header do -%>
	<%= I18n.t(:'txt.account_amnesia') %>
<% end -%>

<p>
	<%= I18n.t(:'txt.cant_remember_your_account_name', :site_name => s(:site_name)) %>
</p>

<p>
	<%= I18n.t(:'txt.cant_recover_you_account', :support_name => s(:support_name), :support_email => s(:support_email)) %>
</p>

<p>
	<%= I18n.t(:'txt.create_another_account', :signup_url => signup_url) %>
</p>